<div class="tracks-index hidden-xs">
</div>
<div class="hidden-xs">
  <h1>Songs</h1>
</div>
<div class="visible-xs">
  <h2>Songs</h2>
</div>
<br>
<div class="song-title-letters">
  <% @letters_array.each do |letter| %>
    <div class="letter-click" id="<%= letter %>">
      <%= letter %>
    </div>
  <% end %>
</div>
<hr>
<div class="active-letter">
  A
</div>
<div class="songs-collection">
  <% @alphabet_array.each_with_index do |letter_hash, index| %>
  <% if index == 0 %>
    <div class="list-group songbox" id="<%= @letters_array[index] %>">
  <% else %>
    <div class="list-group songbox" style="display:none" id="<%= @letters_array[index] %>">
  <% end %>
      <% letter_hash.each do |track| %>
        <div class="list-group-item songs col-md-4">
          <% if track.album == nil %>
            <em><%= link_to track.title, album_track_path(3, track) %></em><br>
            &nbsp;&nbsp;&nbsp;&nbsp;from <em>Biograph</em>
          <% else %>
            <em><%= link_to track.title, album_track_path(track.album, track) %></em><br>
            &nbsp;&nbsp;&nbsp;&nbsp;from <em><%= track.album.title %></em>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
