<div class="row hidden-xs">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Albums', albums_path %></li>
      <li><em><%= link_to @track.album.title, album_path(@track.album) %></em></li>
      <li class="active"><em><%= @track.title %></em></li>
    </ul>
  </div>
</div>
<div class="hidden-xs">
  <h1><em><%= @track.title %></em></h1>
</div>
<div class="visible-xs">
  <h3><em><%= @track.title %></em></h3>
</div>
<h4>
  From <em><%= link_to @track.album.title, album_path(@track.album) %></em>, <%= @album_year %>
</h4>
<br>
<%= render 'verse_lyrics' %>
<%= render 'verses_comments' %>
<%= render 'verse_modal' %>
