<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Albums', albums_path %></li>
      <li><em><%= link_to @track.album.title, album_path(@track.album) %></em></li>
      <li class="active"><em><%= @track.title %></em></li>
    </ul>
  </div>
</div>
<h1><em><%= @track.title %></em></h1>
<h4>
  From <em><%= link_to @track.album.title, album_path(@track.album) %></em>, <%= @album_year %>
</h4>

<%= render 'lyrics_container' %>
<br>
<%= render 'verse_comments' %>
<%= render 'verse_modal' %>
