<div class="row">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Albums', albums_path %></li>
      <li><%= link_to @track.album.title, album_path(@track.album) %></li>
      <li class="active"><em><%= @track.title %></em></li>
    </ul>
  </div>
</div>
<h1><em><%= @track.title %></em></h1>
<h4>
  From <em><%= link_to @track.album.title, album_path(@track.album) %></em>, <%= @album_year %>
</h4>
<div class="track-show">
</div>

  <br>
  <div class="lyrics">
    <% @track.verses.each_with_index do |section, index| %>
      <%= link_to section.html_safe, new_album_track_comment_path(@track.album, @track, verse: index + 1), class: "text-primary" %>
    <% end %>
  </div>
  <br>
  <ul>
    <% @comments.each do |comment| %>
      <li> <%= "#{comment.annotation}, #{comment.verse}" %></li>
    <% end %>
  </ul>
