<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Dylan Database Information
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p><b>Comments: </b> <%= @album_comments %> </p>
      </div>
    </div>
  </div>
  <% if @album.album_review != "n/a" %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Album Review
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <blockquote>
          <%= @review[0].html_safe %>
          <small>
            <%= @author_and_source[0] %>, <cite title="<%= @author_and_source[1] %>"><%= @author_and_source[1] %></cite>
          </small>
        </blockquote>
      </div>
    </div>
  </div>
  <% end %>
</div>
