<h1>Albums</h1>
<input type="hidden" id="current_page" />
<input type="hidden" id="show_per_page" />
<div class="albums-index" id="flash">
</div>

<%= render 'sorting_box.html.erb' %>

<div class="well-albums-container"><a id="albums"></a>
  <div class="well well-albums-index">
    <% @albums.each do |album| %>
      <div data-year-released="<%= album.release_date.strftime('%Y') %>"
        data-types='<%= album.types %>' class="panel panel-default album-box">
        <div class="panel-heading"><center><%= link_to album.title, album_path(album), class: "btn btn-link btn-xs", style: "white-space: normal" %></center></div>
        <div class="panel-body">
          <%= link_to(image_tag(album.image_url, size: "160x160"), album_path(album)) %>
        </div>
      </div>
    <% end %>
  </div>
  <div id="albums_count"></div>
  <ul class="pagination">
    <li class="disabled" id="previous"><a href="#">«</a></li>
    <li class="active" id="1"><a href="#">1</a></li>
    <% (2..@show_pages).each do |i| %>
      <li id=<%= "#{i}" %>><a href="#"> <%= i %> </a></li>
    <% end %>
    <li id="next"><a href="#">»</a></li>
  </ul>
</div>
