<h1>Albums</h1>
<input type="hidden" id="current_page" />
<input type="hidden" id="show_per_page" />
<div class="albums-index" id="flash">
</div>
<div class="well well-sorting-container">
  <h4>Narrow List</h4>
  <div class="form">
    <div class="form-group">
      <div class="checkbox">
        <div class="row">
          <div class="col-md-10">
            <b>Album Type</b>
              <ul>
                <li><input type='checkbox' value='Bootleg'>Bootleg Series</input></li>
                <li><input type='checkbox' value='Compilations'>Compilations</input></li>
                <li><input type='checkbox' value='Live'>Live Albums</input></li>
                <li><input type='checkbox' value='Studio'>Studio Albums</input></li>
              </ul>
            <b>Year Released</b>
              <ul>
                <li><input type='checkbox' value='6270'>1962-1970</input></li>
                <li><input type='checkbox' value='7179'>1971-1979</input></li>
                <li><input type='checkbox' value='8089'>1980-1989</input></li>
                <li><input type='checkbox' value='9099'>1990-1999</input></li>
                <li><input type='checkbox' value='0015'>2000-</input></li>
              </ul>
            <br>
            <center><a id="narrow-search" class="btn btn-info btn-xs">Narrow Search</a></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="well-albums-container"><a id="albums"></a>
  <div class="well well-albums-index">
    <% @albums.each do |album| %>
      <div data-year-released="<%= album.release_date.strftime('%Y') %>" class="panel panel-default album-box">
        <div class="panel-heading"><%= link_to album.title, album_path(album) %></div>
        <div class="panel-body">
          <%= image_tag(album.image_url, size: "160x160") %>
        </div>
      </div>
    <% end %>
  </div>
  <div id="albums_count"></div>
  <ul class="pagination">
    <li class="disabled" id="previous"><a href="#">«</a></li>
    <li class="active" id="1"><a href="#">1</a></li>
    <% (2..@show_pages).each do |i| %>
      <li id=<%= "#{i}" %>><a href="#"> <%= i %> </a></li>
    <% end %>
    <li id="next"><a href="#">»</a></li>
  </ul>
</div>
