<%= render 'album_image_logic' %>

<div class="row hidden-xs">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Albums', albums_path %></li>
      <li class="active"><em><%= @album.title %></em></li>
    </ul>
  </div>
</div>
<div class="hidden-xs">
<h2><em><%= @album.title %></em>, <%= @year %></h2>
</div>
<div class="visible-xs">
  <h4><em><%= @album.title %></em>, <%= @year %></h4>
  <%= image_tag(@album.image_url, class: "album-show-small") %>
</div>
<br>

<%= render 'album_info_accordions' %>

<div class="album-info col-md-4 col-xs-12">
  <br>
  <%= @album.tracks.count %> Songs:
  <div class="album-tracks">
    <div class="list-group">
        <% @album_tracks.each do |track| %>
          <div class= "list-group-item album-track"
            data-container="body" data-toggle="popover" data-placement="right" data-content="Song Comments: <%= track.comments.count %>">
            <%= link_to track.title, album_track_path(@album, track), class: "btn btn-link", style: "white-space: normal; text-align: left" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="background-album-cover hidden-xs">
  <div class="col-md-8">
    <img src="<%= @album.large_image_url %>" id="album-art">
  </div>
</div>
